SHOPIFY_API_KEY=<SHOPIFY_API_KEY>
SHOPIFY_API_SECRET=<SHOPIFY_API_SECRET>
SCOPES=<SCOPES>
AWS_REGION=<AWS_REGION>
AWS_SECRETS_MANAGER_RESOURCES=<AWS_SECRETS_MANAGER_RESOURCES>
SHOPIFY_APP_URL=<SHOPIFY_APP_URL>
